@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-dyna {
  font-family: 'DynaPuff', cursive;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.blur-left{
  box-shadow: -80px 0 40px rgb(211,250,80), -40px 0 40px rgb(211,250,80), -40px 0 40px rgb(211,250,80);
}

.conic_effect{
  background: repeating-conic-gradient(
    from 0deg at 50% 50%, 
    transparent 0 2deg, #222222 0 36deg
    );
}

.light_effect{
  box-shadow: 0 0 100px rgb(211,250,80), 60px 0 60px rgb(211,250,80), 80px 0 100px rgb(211,250,80);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.button-3d{
  box-shadow: 0 8px 0 rgb(161, 192, 47), 0 8px 20px rgb(125, 135, 93);
}

* {
  font-family: 'Poppins', sans-serif;
}

.active {
  color: white;
}

.clip_path{
  clip-path: circle(50% at 50% 50%);
}